@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Quicksand:wght@400;600&display=swap');

/* Overall Styling */
* {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #260101;
    line-height: 1.6;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #333;
}

html{
    scroll-behavior: smooth;
}

/* Headers */
h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

/* Navigation Bar */
.navbar{
    border: 1px solid red;
    height: 70px;
    background-color: #fff;
}

.navbar ul{
    display: flex;
}

.navbar a{
    padding: 20px;
    margin: 0 5px;
}

.navbar .flex{
    justify-content: space-between;
    overflow: hidden;
}