/* div [class*=col]{ border:1px solid red} */
/* div { border:1px solid red} */

.container {
    max-width: 1900px;
}

/* Hero Image */
.hero {
    position: relative; 
    height: 825px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero::before {    
    content: "";
    background-image: url("../images/showcase-back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    background-attachment: fixed;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.70;
}

.solidLine {
    border-bottom-color: rgb(244, 219, 85);
    border-bottom-style: solid;
    border-bottom-width: 12px;
    line-height: 18px;
    width: 100%;
    font-weight: 700;
}

.subButt {
    position: relative;
    height: 100px;
    width: 300px;
    top: 50px;
}

.fixIt {
    max-width: 400px;
    padding: 0;
    text-align: center;
}

.imgSub {
    height: 150px;
}

/* Jumbotron */
.jumbotron-fluid {
    margin-top: 350px;
    padding: 100px 250px 0 250px;
    border-radius: 15px;
    background-color: #7BB3B4;
    z-index: 1; 
}

.subList {
    color: white;
    font-size: 30px;
    text-indent: 10px;
    margin-top: 75px;
    margin-bottom: 60px;
}

.row {
    margin: 30px 0;
    padding: 30px 305px;
}

.bigOlNumber {
    font-size: 100px;
    font-weight: 700;
}

/* Subscription Buttons */

.blueText, .yellowText, .yellowImg, .bagAmt {
    width: 400px;
    height: 125px;
    background-color: white;
    font-size: 36px;
    font-weight: 300;
}

.bagAmt {
    display: flex;
    height: auto;
    justify-content: space-around;
    align-items: center;
}

.blueImg {
    width: 532px;
    height: 125px;
    background-color: white;
    font-size: 36px;
    font-weight: 300;
}

.blueText, .blueImg {
    border: 4px solid #5AA1A2;
}

.blueText:hover, .blueImg:hover {
    background-color: #9CC6C7;
}

.yellowText, .yellowImg, .bagAmt {
    border: 4px solid #F4DB55;
}

.blueTextChoose, .blueTextChoose:hover,
.blueImgChoose, .blueImgChoose:hover{
    background-color: #5AA1A2;
    color: white;
}

.yellowTextChoose, .yellowTextChoose:hover,
.yellowImgChoose, .yellowImgChoose:hover,
.bagAmtChoose, .bagAmtChoose:hover {
    background-color: #F4DB55;
}

.beanImg {
    background-image: url("../images/sub-whole-bean.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 133px;
}

.groundImg {
    background-image: url("../images/sub-ground.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 133px;
}

.lightImg {
    background-image: url("../images/sub-light.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 100px;  
}

.medImg {
    background-image: url("../images/sub-medium.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 100px;  
}

.darkImg {
    background-image: url("../images/sub-dark.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 100px;  
}

.noprefImg {
    background-image: url("../images/sub-no-pref.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 100px;  
}

.colorBlock {
    background-color: #FDF9DF;
}

.summary {
    background-color:#9dced5;
    /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); */
    padding: 25px;
}

/* Media Queries */
@media (max-width: 1800px) { 
 
    .row {
        padding: 30px 0;
    }

    .jumbotron-fluid {
        margin-top: 350px;
        padding: 100px 25px 0 25px;
        border-radius: 15px 15px 0 0;
        background-color: #7BB3B4;
        z-index: 1;
    }
}