.container{
    max-width: 1500px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid{
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

/* Text Utilities */
.text-center{
    text-align: center;
}

