.container{
    max-width: 1500px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid{
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

/* Animation Utilities */

/* Text Utilities */
.text-center{
    text-align: center;
}

/* Button Styling*/
button {
    background-color: #F4DB55;
    border: none;
    /* color: #260101; */
    text-align: center;
    font-size: 36px;
    font-kerning: 60;
    font-weight: 700;
    border-radius: 15px;
    padding: 10px 25px;
    margin: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    min-width: 150px;
    min-height: 75px;
}

button:hover {
    background-color: #F8E998;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.2);
}

button:active {
    background-color:#FDF9E4;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
}

button:focus {
    outline: 1px dotted #260101;
}

/* Subscription Buttons */

.blueText, .yellowText, .yellowImg {
    width: 400px;
    height: 125px;
    background-color: white;
    font-size: 36px;
    font-weight: 300;
}

.blueImg {
    width: 532px;
    height: 125px;
    background-color: white;
    font-size: 36px;
    font-weight: 300;
}

.blueText, .blueImg {
    border: 4px solid #5AA1A2;
}

.blueText:hover, .blueImg:hover {
    border: 6px solid #5AA1A2;
    background-color: white;
}

.yellowText {
    border: 4px solid #F4DB55;
}

.yellowText:hover {
    border: 6px solid #F4DB55;
    background-color: white;
}

.blueTextChoose, .blueTextChoose:hover, .blueImgChoose .blueImgChoose:hover {
    background-color: #5AA1A2;
    color: white;
}

.yellowTextChoose, .yellowTextChoose:hover {
    background-color: #F4DB55;
}

.beanImg {
    background-image: url("../images/sub-whole-bean.png");
    background-repeat: no-repeat;
    background-position: right;
}

.groundImg {
    background-image: url("../images/sub-ground.png");
    background-repeat: no-repeat;
    background-position: right;
}